<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" routerLink="/">Email App</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="col-md-6 offset-md-6 m-auto">
  <div class="mt-3">

    <div class="card">
      <div class="card-header">
        <h1>Compose Mail</h1>
      </div>
      <div class="card-body">
        <ckeditor [editor]="Editor" data="

        <div>
        <h3> </h3>
        <mat-form-field class='example-full-width'>
          <input matInput class='mailfields' style='width: 95%;'>
        </mat-form-field>
      </div>

        <h4> </h4>
        <mat-form-field class='example-full-width'>
          <input matInput class='mailfields' style='width: 95%;'>
        </mat-form-field>

        <p>Dear, &emsp;</p>
        "></ckeditor>
        <input class="btn btn-primary mt-2" type="submit" value="Send">



      </div>
<!--
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form> -->

    </div>

</div>
<!-- <div class="alert-email">
  <label>Email</label>
      <input
          id="contactemail"
          type="text"
          name="contactemail"
          required
          [(ngModel)]="contactemail"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

  <div class="md-errors-spacer" [hidden]="contactemail.valid || contactemail.untouched">
      <div  *ngIf="contactemail.errors && contactemail.errors.required">
          Email is required
      </div>
      <div  *ngIf="contactemail.errors && contactemail.errors.pattern">
          Email is invalid
      </div>
  </div>
</div> -->
